html{
  background: url(website3.jpg) no-repeat center fixed; 
  background-size: cover;
  margin: 4;
}
h1 {
  color: darkcyan;
  font-size: 80px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  font-size: 50px;
  color: salmon;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  color: black;
  font-size: 20;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.p1 {
  font-family: monospace;
  font-size: 20;
}