body{
  background-color: peachpuff;
  margin: 5;  
}

h1 {
  color: indianred;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  color: salmon;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  color: brown;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.p1 {
  font-family: monospace;
}