html{
  background: url(pngtree-aesthetic-background-pink-pastel-image_866344.jpg) no-repeat center fixed; 
  background-size: cover;
  margin: 4;
}
h1 {
  color: pink;
  font-size: 80px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  font-size: 50px;
  color: lightsalmon;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  color: lightcoral;
  font-size: 30;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 150px;
}
.p1 {
  font-family: monospace;
  font-size: 20;
}
.p2 {
  font-family: monospace;
  font-size: 40;
}